################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
/Properties/PublishProfiles/StandaloneExeToFolder.pubxml.user
/SingleInstanceAccumulator.csproj.user
